.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
Androidstudio/gradle/wrapper/gradle-wrapper.jar
Androidstudio/.idea/codeStyles/Project.xml
Androidstudio/gradle/wrapper/gradle-wrapper.properties
Androidstudio/.idea/codeStyles/codeStyleConfig.xml
Androidstudio/.idea/vcs.xml
Androidstudio/.idea/misc.xml
Androidstudio/.idea/migrations.xml
Androidstudio/build.gradle.kts
Androidstudio/gradle.properties
Androidstudio/gradlew
Androidstudio/gradlew.bat
Androidstudio/settings.gradle.kts
Androidstudio/.idea/.gitignore
Androidstudio/.idea/.name
Androidstudio/.idea/compiler.xml
Androidstudio/.idea/deploymentTargetSelector.xml
Androidstudio/.idea/gradle.xml
Androidstudio/.idea/kotlinc.xml
